body{
	background-color: gray;
}


/*Backgrounds Images For the articles*/
#main-article-img{background-image: url("Resources/100912digitsskydive_167x94.jpg");}
#article-image-1{background-image: url("Resources/101412flies_167x94.jpg");}
#article-image-2{background-image: url("Resources/101012lenovo_167x94.jpg");}
#article-image-3{background-image: url("Resources/092812newshubgmtseg1b_167x94.jpg");}
#article-image-4{background-image: url("Resources/101512asiatodaysoftbank1_167x94.jpg");}




.box{
  background-image: url("Resources/video-bkgd.png");
  width: 200px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7px;
}
.box-top{
    padding-bottom: 20px;
    border-bottom: thin solid lightgray ;
    height: 190px;
}


.article_details > .article-image{
  background-size: 100% 100%;
}

/*Box-Top Properties*/

.titles{
    width: 45%;
    display: block;
    line-height: 50px;
}
#video-title{
    color: #4db74d;
    font-size: 15px;
    text-align: left;
    float: left;
    margin-left: 2%;
}
#taboola-title {
	  color: gray;
    font-size: 6px;
    text-align: right;
    float: right;
    margin-right: 2%;
}

#main-item {
  width: 96%;
  height: 130px;
  margin-left: 2%;
  padding-bottom:0px;
}

#main-article-img{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: inherit;
    width: 100%;
}

#main-article-img > #play-big-img{
  position: relative;
  top: 90px;
  left: 0px;
	width: 160%;
}

#main-article-img:hover > #play-big-img {
  top: -82px;
  left: 0px;
}

#main-item-description{
  display: inline-block;
  font-weight: bold;
  font-size: 8px;
  margin-left: 3%;
  margin-top: 1%
}


/*Box Bottom Properties*/

.box-bottom{
	padding-top: 10%;
}

.article-item{
	  width: 50%;
	  float: left;
    padding-bottom:15px;
    color: rgba(0, 0, 0, 0.75);
}

.article-image{
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 55px;
  margin: auto;
  display: block;
  width: 85%;
  margin-bottom: 4px;
}

.box-bottom .article-image:hover{
  border-bottom: 4px solid #4db74d;
  border-top: 4px solid #4db74d;
  margin-top: -4px;
  margin-bottom: 0px;
}

.box-bottom .article-item:hover{
	color: #4db74d;
}

.box-bottom .article-image:hover > .play-small-img{
	top: 1px;
	left: 24px;
}


.article-image .play-small-img{
  position: relative;
  top: 100%;
  left: 100%;
	width: 380px;
  height: 300px;

}

.article-details {
    display: inline-block;
    padding-left: 10%;
    width: 80%;
}
